[update_manager moonraker-yumi-lab]
type: git_repo
path: ~/moonraker-yumi-lab
origin: https://github.com/Yumi-Lab/moonraker-yumi-lab
env: ~/moonraker-yumi-lab/bin/python
requirements: requirements.txt
install_script: install.sh
managed_services:
  moonraker-yumi-lab

